[2015-07-16 13:02] devinivy opened #1 "Add mrhorse into the mix"
We want policies!  See: https://github.com/mark-bradshaw/mrhorse

[2015-07-21 13:11] devinivy opened #2 "Update to hapi8"

[2016-01-04 13:33] #2 closed

[2016-03-06 03:20] failpunk opened #5 "How to get testing up and working"
I'm new to node and I'm checking out your repo...thanks!!  I have everything up and running but I can't see to get testing going.

I'm assuming that since your are exporting the manifest in `server.js` that you would create the server via *Glue* in each of your test files. Whenever I do this it never calls the callback passed to `Glue.compose`

Am I setting this up right?

[code]

Test Output:

0

[2016-03-07 04:29] devinivy commented on #5
That is one approach, yes!  For a more robust approach, see my gist: https://gist.github.com/devinivy/1e6e71abcb721fa8fee9

Your approach will work with one small change.  To keep the testing suite in sync timing-wise, you should put that boilerplate `Glue.compose()` code into a lab `before()` call, as demonstrated here: https://github.com/hapijs/lab#usage

[2016-03-08 03:22] failpunk commented on #5
Thanks @devinivy, making it async and putting `Glue.compose` in the before call works.
I'll have to take a bit more time to grok your more robust solution to see how I might use that.

[2016-03-08 03:37] devinivy commented on #5
Yeah, this stuff can be hard.  Testing servers is a common pain-point.  Feel free to ask questions here and for further topics on the hapijs/discuss repo!

If you're ever able to PR a good testing solution into this repo, I'd love that.  The gist I sent above is a little more heavy-duty than I'd like to include in this boilerplate.

[2016-03-08 03:37] #5 closed

[2016-05-18 01:20] mattboutet opened #7 "Add linting"
I'm going to play with adding eslint to the chalice-api, and it seems like it might be worth adding in here too, thoughts, @devinivy ? If I get it working, I'd be happy to put together a PR.

[2016-05-18 01:32] mattboutet commented on #7
Nevermind, I'd forgotten that we already have Lab in here.

[2016-05-18 01:32] #7 closed

[2016-05-18 12:53] devinivy commented on #7
Yeah, lab will use hapi's eslint config.  This repo will need linting once we update lab (and all other deps).

[2016-05-18 12:54] devinivy commented on #1
I think there's a better solution here now that hapi has route-level extensions.

[2016-05-18 12:54] #1 closed

[2016-05-26 01:19] devinivy opened #9 "Use haute-couture for directory structure"
Build the main boilerplate plugin using [haute-couture](https://github.com/devinivy/haute-couture).  Also include `.gitkeep`s for directories whose corresponding features we'd like to encourage, like `methods/`.

[2016-05-26 02:59] devinivy opened #10 "Stop generating uri"
This can go: https://github.com/devinivy/boilerplate-api/blob/master/server.js#L7-L9
The code is necessarily ugly, and since hapi v8 this already lives on `connection.info.uri`.

[2016-05-26 03:00] devinivy opened #11 "Make server requirable, usable in tests"
And write a test ensuring that the server ships with x, y, z, and the plugin in lib/.  Use latest code and lab.

[2016-05-26 03:00] devinivy opened #12 "Create clear separation between server and plugin"
And ensure that the plugin is configured solely thru plugin options.  This probably means moving bassmaster (among others?) out of the plugin and into the server.

[2016-05-26 03:04] devinivy opened #13 "Get rid of makefile"
It just aint necessary!

[2016-05-26 03:09] devinivy opened #14 "Readme revamp"
The readme needs to be cleaned-up a bit.  Also worth describing some ideas around plugin/server separation and why the boilerplate is constructed the way it's constructed.

[2016-05-26 17:23] #10 closed

[2016-05-26 17:23] #13 closed

[2016-05-28 03:03] WilliamSWoodruff commented on #9
I'll claim this one

[2016-05-28 17:35] devinivy commented on #9
Baller!

[2016-05-31 12:34] devinivy commented on #11
Built this to get the job done https://github.com/devinivy/labbable

[2016-05-31 15:54] devinivy opened #17 "Ensure it works on Windows"
Mostly need to make sure we construct paths correctly.  I know this is an issue right now.

[2016-05-31 18:52] maxatbrs commented on #14
Taking this one!

[2016-05-31 18:54] mattboutet commented on #17
I can take this one.  I think it should just be a matter being sure to use Path.xx instead of trying to construct paths by hand.

[2016-05-31 18:55] WilliamSWoodruff commented on #14
@maxatbrs Keep in mind HauteCouture is getting worked on to bring into the project, mentioning because it affects the structure a lot.

[2016-05-31 18:58] maxatbrs commented on #14
@WilliamSWoodruff definitely dude! I see this being two pronged - first is an overall update with better language, formatting, logo etc. Second is to take all the 1.0.0 features and outline them. I'm going to put it up for revisions and we can all discuss per commit. This might hang around until v1.

[2016-05-31 19:12] devinivy commented on #11
Closed by #16.  Probably could improve the tests, but that should be done as part of general spiffing-up right before v1 is released.

[2016-05-31 19:12] #11 closed

[2016-05-31 19:14] devinivy commented on #9
The boilerplate prefers callbacks, so this can probably be worked-on before HC v1.1 comes out.

[2016-05-31 19:24] devinivy commented on #17
We may also need to resolve https://github.com/devinivy/haute/issues/2

[2016-05-31 20:28] mattboutet commented on #12
I had co-mingled my code for this with some code for #16, but I pulled the relevant code out into a standalone branch, and am working on this now.  I'm moving bassmaster from the plugin to the server, and slimming down the options we're passing to bedwetter

[2016-06-01 13:30] devinivy opened #18 "Set server debug options"
When `NODE_ENV` is set to `'dev'`, enable server debug mode.  We need to settle on which tags to log.  Debug will by default be preferred over [good](https://github.com/hapijs/good) logging in this environment.

[2016-06-02 12:21] #12 closed

[2016-06-03 18:33] #18 closed

[2016-06-03 21:06] mattboutet commented on #17
I've verified that this works on Win7, no code changes necessary.  I'll check again once the `haute-couture` stuff comes in.

[2016-06-04 03:48] devinivy commented on #9
Closed by #21

[2016-06-04 03:48] #9 closed

[2016-06-04 04:40] devinivy commented on #14
I think we're pretty much ready for this.

[2016-06-04 04:41] devinivy commented on #17
We can check this again whenever :)

[2016-06-06 13:05] maxatbrs commented on #14
Okay awesome I am going to start this up @devinivy thanks dude!

[2016-06-06 13:26] mattboutet commented on #17
Just checked this with the most recent additions and it still works.  Note: if using the windows cmd program, you'll need to do `set NODE_ENV=dev&&npm start` to enable logging.

[2016-06-06 13:35] devinivy commented on #17
Cool, this sounds closable 'til we run into an issue.

[2016-06-06 13:35] #17 closed

[2016-06-06 21:15] maxatbrs commented on #14
Okay @devinivy  @WilliamSWoodruff  @mattboutet take a look at this iteration:

https://github.com/maxatbrs/boilerplate-api/blob/master/README.md

I made this more developer user friendly, added a stupid logo and added examples. I need to finish my first route (working title) but this will be an example of how to get a route going and handler talking to the disk adapter.

Thoughts?

[2016-06-06 21:18] maxatbrs opened #24 "Add CONTRIBUTING.doc"
Want to a `CONTRIBUTING.md` added similar to hapi's:

https://github.com/hapijs/hapi/blob/master/CONTRIBUTING.md

[2016-06-06 21:24] maxatbrs commented on #14
I need to update the rest of the tools in the project like `haute-couture` and `labbable`

[2016-06-18 04:11] devinivy opened #26 "Dogwater v2 using haute-couture"

[2016-06-18 04:12] #26 closed

[2016-06-28 15:29] devinivy commented on #14
Closed by #25

[2016-06-28 15:29] #14 closed

[2016-08-16 18:08] anttilinno opened #28 "Comment a bit on boilerplate structure"
Could you comment a bit, in your opinion, what should the plugins and methods directories contain.

Methods are route handlers? And plugins should contain code for modules that are not route handlers?
Maybe update tutorial a bit.

[2016-08-16 18:20] mattboutet commented on #28
Some of this is covered by the Haute Couture documentation: https://github.com/devinivy/haute-couture - for example, the methods directory should contain server methods (http://hapijs.com/tutorials/server-methods) and Route handlers should, generally, live in `/routes`.

I think it might be helpful if we made the Haute Couture documentation link more prominent in the ReadMe, as that does a lot mor

[2016-08-16 18:25] anttilinno commented on #28
Ok, maybe just add a bit of code to the handlers dir, for the trigger happy like me :) It seems a bit lonely being empty. I will pester haute-couture folk with questions then.

[2016-08-16 18:28] mattboutet commented on #28
@anttilinno - if you wanted to see a super-basic example of some of the stuff that might go in `models`/`routes`/`plugins`, you can check out https://github.com/mattboutet/user-boilerplate , which is built on top of this boilerplate.

[2016-08-16 18:34] anttilinno commented on #28
Thank you for your advice. I'm having hard time getting up to speed with hapi, seemingly suitable project structure and starting node :laughing:

[2016-08-16 18:34] #28 closed

[2017-01-26 20:12] mostafa-raafat opened #33 "it's really not an issue but i need your help"
i am new in hapi and i really like your boilerplate api but i don't know how can i add plugin
for example i want to add hapi-io plugin for socket and i should put this lines
server.register({
  register: require('hapi-io'),
  options: {
    ...
  }
});

exports.register = function(server, options, next) {

  var io = server.plugins['hapi-io'].io;

};

where should i put them

[2017-01-26 20:28] mostafa-raafat commented on #33
can you help me i really need your help @devinivy

[2017-01-26 20:35] WilliamSWoodruff commented on #33
Hey @mostafa-raafat
See how Dogwater is registered in `server/manifest.js`. You'll have to add your registration in the `registrations` array. Something like:

[code]

[2017-01-26 22:04] mostafa-raafat commented on #33
thank you @WilliamSWoodruff for reply
i make it like you said but i get an error when i try to put
let io = server.plugins['hapi-io'].io;
in index.js file

[code]

[2017-01-28 18:49] devinivy commented on #33
The boilerplate is split between a plugin (in `lib/`) and a server (in `server/`) to deploy that plugin.  If you'd like to register hapi-io in your plugin, simply add a file `lib/plugins/hapi-io.js` that exports options for hapi-io in the form `{ options: {/* hapi-io options */} }`.  haute-couture will then register that plugin for you, and you should be able to access `server.plugins['hapi-io']`

[2017-01-30 10:37] mostafa-raafat commented on #33
routes/user.js look like this
[code]
index.js look like this
[code]
i think i did something wrong i get
[code]

[2017-01-30 15:11] devinivy commented on #33
That seems to be an issue with hapi-io or the way you're using it, which I don't know much about– sorry, don't think we can help you with that!

[2017-01-30 15:11] #33 closed

[2017-05-19 04:52] jamesdixon opened #34 "anything you'd do different?"
Hi,

I just stumbled upon your boilerplate -- is there anything you'd do differently since this was last updated?

Cheers!

[2017-05-19 05:41] jamesdixon opened #35 "server/plugins vs lib/plugins"
Hi again,

When exactly would you use `server/plugins` vs `lib/plugins`?

Thanks!

[2017-05-19 12:20] devinivy commented on #34
Hi!  Glad you found it!  Good question.  We are actually in the process of packaging this boilerplate up into a more flexible and robust solution, and planning on supporting it more actively.  The [`pal`](https://github.com/devinivy/boilerplate-api/tree/pal) branch is in a good state right now– that's what I would suggest going with.  That branch is a much more "vanilla" version of the boilerplate

[2017-05-19 12:40] devinivy commented on #35
**TLDR:** `server/plugins/` contains plugins specific to the _deployment_ of your application plugin contained in `lib/`.  This plugin is assumed to possibly be part of a greater application, and potentially other deployments than `server/`.  `lib/plugins/` is concerned with plugins critical to your application plugin's features.  We're big on keeping deployments and plugins separate!

This boiler

[2017-05-19 19:08] jamesdixon commented on #34
@devinivy thanks for the quick reply! I just attempted to use `git clone --depth=1 --origin=pal git@github.com:devinivy/boilerplate-api.git my-project` to pull down the `pal` branch, but unfortunately, I'm just getting a permissioning error:

[code]

[2017-05-19 19:13] jamesdixon commented on #35
@devinivy wow! thanks for the killer explanation! Makes a ton of sense.

I love the idea of haute-couture; seems to make more of a convention over configuration approach, which I really dig. Certainly makes it much easier to get up and running.

Here's a related question: can you use haute-couture for configuring plugins that are already in the `/lib/plugins` directory?

[2017-05-19 19:13] jamesdixon commented on #35
On a side note -- really love all of your projects. You have some really great stuff.

[2017-05-19 19:23] jamesdixon commented on #34
FWIW, cloning over HTTPS worked 👍

[2017-05-19 19:31] jamesdixon commented on #34
Ok, I lied. It cloned, but it appears to be pulling in `master` rather than the `pal` branch.

[2017-05-19 20:07] jamesdixon commented on #34
@devinivy are flavors active yet?

[2017-05-19 20:52] devinivy commented on #34
Good to know!  Do you use ssh/keys with other repos?  Flavors aren't active yet, but the schwifty/objection one will be the first one we put up!

[2017-05-19 20:54] jamesdixon commented on #34
Yes sir, I do use SSH/Keys with other repos

[2017-05-19 20:56] devinivy commented on #35
Hey, thanks a bunch!  :)  Many of these projects are going to be more actively supported soon, and will have better documentation surrounding them.

Do you mean, you'd like to author more plugins within `lib/plugins/`, each of which also use haute-couture?  Yes, that should work!  In that case I'd give each plugin its own directory in `lib/plugins/`, and use `lib/plugins/index.js` to configure the

[2017-05-19 20:56] jamesdixon commented on #35
Yes, that's exactly what I was asking! Thanks!

[2017-05-19 20:57] #35 closed, assigned to nobody

[2017-05-19 22:27] mattboutet commented on #34
I'm able to replicate this issue from a shell session that doesn't have a key associated with a github account, but even for an account that doesn't have any special access to this repo, I can clone via ssh.

@jamesdixon - if you do `ssh -T git@github.com`, does it succeed?  If not, what does `ssh -vT git@github.com` output?  (apologies if this seems simplistic, I don't want to make assumptions)

[2017-05-19 23:12] jamesdixon commented on #34
@mattboutet thanks for the response. I'm not sure what the hell happened, but indeed my SSH key was missing from Github. Sorry to waste your time, but thanks for pointing me down the right path. Cheers!

[2017-05-19 23:12] #34 closed, assigned to nobody

[2017-05-20 01:25] devinivy commented on #34
Glad all's clear.  By the way, to actually pull down the `pal` branch, you'll want this,
[code]

All I added was `--branch=pal`, which will not be necessary in the future.

[2017-05-21 21:08] devinivy commented on #34
@jamesdixon in case you're looking for the objection/schwifty setup, here's a decent start: https://github.com/devinivy/boilerplate-api/commit/f1bf9bb4b6ffd4175ad33f3a4117f6bb8f19d8ec

[2017-05-22 01:44] jamesdixon commented on #34
@devinivy you read my mind! THANK YOU!

[2017-05-25 13:34] devinivy commented on #24
Hey @maxatbrs I'm going to close this for now.  We will need to think about documenting how contribution works across the pal org.  Adding a file to this repo is awkward because it's intended not to be a package, but actual code for others to start with.

[2017-05-25 13:34] #24 closed

[2017-05-25 18:35] jamesdixon opened #36 "migrations location"
Hi again! Was your intention for the `migrations` directory to live under `lib/`?

[2017-05-25 18:59] devinivy commented on #36
Hey– good question!  I understand how it may seem odd, but yes.  Schwifty pluginifies migrations– different plugins can have different migration directories. Schwifty will pull all your migrations (across multiple plugins' migration folders) into a single temp directory in order to run them together during server initialization.  Since they're specific to the plugin, I put them in `lib/`.  Open to

[2017-05-25 19:01] jamesdixon commented on #36
All good! I know that you've thought this stuff out, so just trying to wrap my head around it. This is a side project for me, but my existing Hapi project is a mish-mash of things that I learned "on the job," so this type of stuff is really helpful to get organized!

Question: what's a case where you've/would use per-plugin migrations?

[2017-05-25 19:01] jamesdixon commented on #36
Guessing a simple use case would be the underlying table to support a model?

[2017-05-25 19:09] devinivy commented on #36
The example we go back to a lot is a project of @mattboutet's which started as a fork of this boilerplate that also has models/routes/auth to support "`Users`": https://github.com/mattboutet/user-boilerplate

Now, rather than the user boilerplate being used as a boilerplate (which got in the way of code reuse and maintenance), we want to incorporate it into our apps by simply registering it as a p

[2017-05-25 19:13] jamesdixon commented on #36
Thanks for the great explanation. Plugins owning models is something I've been curious about. Is this something you recommend even when that a particular set of model/route/auth is only local to a specific application? The boilerplate appears to be set up for divvying those things up, but I've also read to pluginify everything!

[2017-05-25 21:13] devinivy commented on #36
Welcome! :) 🍻

Making sure I understand– are you wondering about plugins owning their own models versus having a single plugin specifically for providing _all_ models?

[2017-05-26 00:57] jamesdixon commented on #36
Correct!

For example:

**Approach 1**
Everything lives inside the plugin for a given entity.
[code]

**Approach 2**
An entity is broken up into pieces and placed in the corresponding folder under the `lib` plugin.
[code]

Outside of potentially re-using the plugins elsewhere, is there one approach that stands out to you? Pros/cons? Situations where you may use one vs. another?

Cheers!

[2017-05-26 01:01] jamesdixon commented on #36
Also, sorry for all of the questions. I really like the boilerplate and I believe things like these are somewhat confusing to Hapi newcomers, so I figured it'd be worth bringing up 👍

[2017-05-26 01:04] jamesdixon opened #37 "logic in handlers"
It's your favorite person again! lol

This may be something that's personal preference, but curious where you store most of your business logic? Are you doing most things in your handlers or do you store logic in your Objection models?

For example, with my other project, the vast majority of my logic lies in my models -- making the handlers very light.

Again, just trying to weed out some best pr

[2017-05-26 03:38] devinivy commented on #36
Ah, gotchya.  First, no worries– I enjoy answering and thinking about these questions when I have time, plus I'm often supported by my employer to do it!  I hope/plan that issues like this will be converted into documentation over time.  I've alluded to this before, but we also have some best practices articles (covering topics exactly like this!) that we'll be putting out before too long.

Regard

[2017-05-26 03:44] devinivy commented on #36
P.S. I definitely like the idea you've alluded to above of using the `lib/plugins/` folder as a place to break-out other (potentially haute-couture-oriented) plugins.  Originally I imagined it as being a place where plugins would be registered, but not necessarily authored.  It definitely could become a good practice to author little "proto-services" or other cross-cutting concerns (e.g. a plugin

[2017-05-26 04:05] devinivy commented on #37
If I had to summarize– models, then server methods, then route prerequisites, then handlers.  I like keeping my models fairly database-oriented, especially when using objection, which is so close to "the metal."  Ideally (but not always) I wrap business logic related to fetching data in server methods.  That's nice because the methods are 1. monkey-patchable for testing, and 2. trivially cacheable

[2017-05-26 16:39] jamesdixon commented on #36
Thanks again for such detailed replies! This is super helpful and makes a lot of sense.

My previous approach has been much of what you described. However, in some cases, I have used the approach of organizing single entities into plugins. For example, I have some cases where I wanted to massage incoming/outgoing data. I stuffed this into a plugin using `onPreResponse`. There is probably a better

[2017-05-26 16:41] jamesdixon commented on #37
I'd agree that it's not so cut and dry. In my other project, the vast majority of my business logic was part of my models. However, I can see pros and cons to moving that logic elsewhere. Server methods and route pre-reqs are something I had no idea existed, so it's probably worth investigating to see how that may change things for me.

If you have an example of how you string things together, I'd

[2017-05-26 17:21] jamesdixon opened #38 "knex setup for integration testing"
do you have a good system for using Knex for integration testing? Specifically curious how you go about resetting the database before every test. I've tried a few things but running into gotchas!

Note: I felt like this was relevant to the boilerplate, but if you don't, feel free to close 😄

[2017-05-26 17:49] devinivy commented on #36
Ah, I see– that makes sense!  Some plugins are application-oriented (with things like models, routes), and others are for cross-cutting concerns (like error transformation).  Wish we had a name for those two different types of plugins!

Bottom like for me regarding the manifest vs `lib/plugins/` is this: if your plugin (in `lib/`) depends on other plugins, it should register them itself in `lib/pl

[2017-05-26 18:01] jamesdixon commented on #38
The gotchas I was running into are evidently due to Lab not supporting `async/await`. Closing!

[2017-05-26 18:01] #38 closed, assigned to nobody

[2017-05-26 18:55] devinivy commented on #38
Sweet!  If you throw up any code, do share!

[2017-05-26 22:19] jamesdixon commented on #38
False statement on my part! Turns out that Lab supports promises just fine; no need to use `done()`.

I'm doing the following to clear the db using Vincit's [knex-db-manager](https://github.com/Vincit/knex-db-manager):

[code]

Do you have better/different approach?

[2017-05-26 22:34] jamesdixon commented on #38
Ok, slight optimization to only run the migrations once when the test suite starts:

It doesn't appear that Lab has a global before/after to do any bootstrapping or teardown. That said, I just created a `-bootstrap.js` file in my `test/` directory:

[code]

[code]

[code]

[2017-05-31 04:00] #36 closed, assigned to nobody

[2017-05-31 04:01] devinivy commented on #37
I don't have any good public examples right now, but when we create the website for hapi pal that should be a decent example to check-out!

[2017-05-31 04:01] #37 closed, assigned to nobody

[2017-06-02 18:32] tripdragon opened #39 "Flavors are less informal then it would seem"
It should say what each one does instead of having to click on each projects link and read through their stuff.

In that you could have recipes so mixing flavors makes something of common request. Example
Vanilla + Eggs + Ice + sugar = make Magic server that generates chill QR codes I guesses like

[2017-11-11 01:23] wswoodruff opened #43 "It's about time to make an official pal repo, agree?"

[2017-11-13 03:49] devinivy commented on #43
In time :)

[2017-11-13 03:49] #43 closed, assigned to devinivy

[2017-12-04 22:32] jamesdixon opened #44 "hapi 17 comptability?"
heyo!

now that h17 is out, i was thinking about starting from the boilerplate and re-structuring my application a bit using this boilerplate. any thoughts on h17 compatibility?

cheers,
james

[2017-12-08 14:45] devinivy commented on #44
It's coming :)  As you've seen haute-couture is just about to land in https://github.com/devinivy/haute-couture/pull/36, at which point the upgrade on this repo should be pretty straightforward.  Upgrading the flavors will take a little more time.  If you want to take a crack at any of it, feel free!  I will probably work on it tomorrow and Sunday.

[2017-12-08 15:40] jamesdixon commented on #44
suh-weet! I actually was taking a crack at updating labbable last night, but the tests were throwing me for loop because of the whole async/await flow.

[2017-12-08 16:14] devinivy commented on #44
This is a bit of a side conversation that I'd be happy to take to slack/gitter/email or an issue on the labbable repo, but I wasn't planning on upgrading labbable since it's so much easier to asynchronously return a server using async/await than using callbacks, so the module is a lot less useful than before.  That said, I would certainly publish an upgrade, and I'm open to different perspectives

[2017-12-08 16:37] jamesdixon commented on #44
@devinivy I gave this a shot, but not having any luck including it in tests via `server = await require('../server');`. Let me know if you have a moment to chat on Slack hapi hour

[2017-12-08 16:45] jamesdixon commented on #44
@devinivy nix that. I had forgotten to change `return;` to `return server;`. Works as expected. Thanks!

As for upgrading labbable, do you think it's worth adding this snippet to the docs to point out there is a better way going forward?

[2017-12-11 14:37] devinivy commented on #44
Yes, but I'd like to play with the snippet a bit more first– it probably needs a little more work to handle failures properly.

[2017-12-12 04:33] devinivy commented on #44
Here's what I've come-up with so far, open to feedback https://github.com/devinivy/boilerplate-api/pull/45

[2017-12-16 03:50] jamesdixon commented on #44
@devinivy I'll take a look as soon as I get my project completely ported to v17. Looking forward to trying this out!

[2017-12-16 04:23] devinivy commented on #44
Resolved by #45

[2017-12-16 04:23] #44 closed, assigned to nobody

[2018-03-06 12:56] oronoa opened #46 "Can you mix flavors?"
Not really clear, I would like to have a hapi with

- Rest API with Swaggwer
- Postgresql with ORM
- templated handlebars site

Is it possible to just run all flavors on top of each other ?

[2018-03-06 13:00] devinivy commented on #46
Yes, absolutely!  Each flavor is just a commit with some code that you cherrypick into your project using git.  So you can pull in multiple flavors.  Just like any time you combine multiple branches of code, there can be merge conflicts, so if you run into a conflict just resolve them and keep moving.  Any conflicts should be minor.

[2018-03-20 21:00] #46 closed, assigned to nobody

[2018-04-07 20:04] devinivy commented on #39
I think we've improved the docs quite a bit since June—also would happily accept a PR for further improvements!

[2018-04-07 20:04] #39 closed, assigned to devinivy

[2018-04-07 20:07] devinivy opened #48 "Update deps in templating flavors"
At least browserify and postcss-cli could use updates in the "templated site" and "fancy templated site" flavors.

[2018-04-07 20:11] devinivy opened #49 "Update dotenv to v5"
Update dotenv to v5 in the vanilla boilerplate.  Will also require special updates to the "deployment" flavor, I would guess.  Also research https://github.com/sholladay/envy as a potential way forward.

[2018-04-10 15:20] devinivy commented on #49
Resolved in 53e732eea9b277ca2fe4599c4bb46b4fdc6b0625 and 7973024de925b106df0782d341393ba0ca2f23f4, should just need a quick test and flavor publish.

[2018-04-10 20:54] devinivy opened #50 "Investigate swagger flavor CORS issue"
It appears that swagger UI makes requests not to the current host but instead `server.info.host`, which can cause CORS issues.  This is most typically seen when running the server at `0.0.0.0` but browser swagger UI on `localhost`.

[2018-04-13 05:39] Nargonath opened #51 "Add Sequelize support as flavor"
I saw that you offer `knex` and `objection` support but what do you think of adding Sequelize support as flavor as well?

I could definitely look into making a PR if that's something you'd consider.

Thanks for the great project.

[2018-04-13 21:58] devinivy commented on #51
A flavor is simply a single commit that can be cherry-picked into a project, so it's a piece of cake to use flavors from all different sources through git.  We maintain a branch for each flavor, then when it's time to release, we just squash the whole branch down into a single commit and tag it so that can be cherry-picked easily.

I'd be happy to document our flavor release process and keep a lis

[2018-04-14 11:53] Nargonath commented on #51
Interesting I would have never thought of such solution. I'm not sure I fully grasp it yet but I'll definitely look into making such flavor.

[2018-04-14 16:32] devinivy commented on #51
This conversation continued in slack.  For those interested in maintaining their own flavors, here is the manual release process https://gist.github.com/devinivy/d0d403c85ba8e2b1eb59f01a6b497a24

[2018-05-22 14:09] ilyaigpetrov opened #52 "Not Clear That You Can't Continue From Getting Started to Flavors"
In the readme after completing Getting Started section I continue to Flavors:

1) `hpal new my-project`
2) `cd ./my-project`
3) `git cherry-pick templated-site`
`error: refusing to lose untracked file at 'server/manifest.js'`
4) `git add -A :/, git commit -m "blabla"`
5) `git cherry-pick templated-site`
`error: after resolving the conflicts, mark the corrected paths`

If I have to run `git clone`

[2018-05-22 14:16] ilyaigpetrov commented on #52
Ah, I had to resolve a `package.json` conflict in point 5).
Please, make it more obvious that you have to commit files in case of Getting Started and resolve a conflict  after cherry-pick.

[2018-05-22 14:22] ilyaigpetrov commented on #52
Also,
1) `git clone https://github.com/hapipal/boilerplate.git`
2) `cd boilerplate`
3) `git fetch pal --tags`
`fatal: 'pal' does not appear to be a git repository`
4)
[code]

[2018-05-23 11:56] devinivy opened #53 "Add uglify to templated site flavors"
The templated site and fancy templated site flavors use uglify to create production JS builds.  Currently this works because handlebars depends on uglify, but we should also depend on it explicitly.

[2018-05-23 12:02] devinivy commented on #52
Yes, we should add the step to Getting Started of making an initial commit.  I think that the tutorial makes it clear that conflicts may arise, but we'll revisit that to make sure.  Feel free to suggest specific changes here https://github.com/hapipal/hapipal.com/blob/master/lib/content/getting-started.md.

The instructions should include `--origin pal` in the `git clone` command, so that this iss

[2018-05-23 12:15] ilyaigpetrov commented on #52
From https://github.com/hapipal/boilerplate:

So I decided to do it manually via cloning and faced that `'pal' does not appear to be a git repository`.

[2018-05-23 13:29] devinivy commented on #52
Sure, I understand that 👌 However, I don't see any ideal way around this.  The manual cloning instructions in the readme, and the process taken by `hpal new` both ensure that the repo is cloned from a remote named "pal."  The reason for this is that we assume _you_ may want to create your own "origin" remote.  All the instructions are meant to work well with each other, so `git fetch pal --tags` i

[2018-05-23 13:30] devinivy commented on #52
(And in case you're still stuck, in your setup just fetch from origin instead: `git fetch origin --tags`.)

[2018-05-23 13:36] ilyaigpetrov commented on #52
There are no cloning instructions in the readme. I suggest adding them.

[2018-05-23 13:55] devinivy commented on #52
Just click this line in the "Getting Started" section of the readme,

[2018-05-23 14:05] devinivy commented on #52
I am going to leave this issue open to,
 - [ ] Adjust the line in the readme "here you can find instructions for older npm versions" to also mention manual cloning instructions.
 - [ ] Ensure the Getting Started tutorial is clear that conflicts may/will arise when pulling in multiple flavors.

[2018-06-03 19:49] nagyv opened #55 "How to test?"
Hi,

I would like to test a hapipal project that uses Schwifty. I could create simple unit tests for the Schwifty models without actually requiring the server at all, but when I would like to test my routes I don't know how to get

* the models loaded
* migrations runs properly
* (and possibly) the server not listening

Example router:
[code]

and the accompanying test (as I imagine it) would star

[2018-06-03 21:12] devinivy commented on #55
The boilerplate is designed so that `await Server.deployment(false)` provides you a `server` identical to your actual production deployment, but not listening/started.  This should be ideal for testing, as you're doing: models should be available and connected to the db, migrations should run if configured that way, all your routes should exist, etc.

I'm confused by your setup because it's hard f

[2018-06-04 08:43] nagyv commented on #55
I've realised that the issue was the same as https://github.com/hapipal/haute-couture/issues/42

These are due to using Jest as a test runner. Moving to Lab fixed the issue.

[2018-06-04 10:16] #55 closed, assigned to nobody

[2018-06-04 18:12] Attyboy opened #56 "Improvements For The Hapipal Tutorial"
General Suggestions:

All links open on the current tab. It may be easier for the user if all links opened in new tabs. The links provide information necessary for the rest of the tutorial and it is useful to transfer between the tutorial and the linked information.

To make the tutorial more friendly to users unfamiliar to the development world it may be useful to provide links to the technical p

[2018-06-04 19:34] ozum opened #57 "Cannot migrate/rollback in tests"
Hi,

I created a project using boilerplate and schwifty. When I try to use `server.knex().migrate` in test file, it is looking `project/migrations` instead of `project/lib/migrations` and I got following error:

`ENOENT: no such file or directory, scandir '.....project/migrations`

**test/01-test.js**
[code]

**lib/plugins/schwifty**
There is no `lib` like it is swallowed:
Produces `ENOENT: no suc

[2018-06-05 08:07] ozum commented on #57
Currently I solved it by adding `options.$base.knex.migrations.directory` key of schwifty plugin in`server/manifest.js`.

I'm not sure if this is a suggested method, because migrations directory is defined in two places now:
* `server/manifest.js`: (schwifty plugin object) -> `options.$base.knex.migrations.directory`
* `lib/plugins/schwifty.js`: `plugins.options.migrationDir`

Some opinion would b

[2018-06-05 13:15] devinivy commented on #57
Good question!  First, the reason that the `migrationsDir` is defined within the plugin is because schwifty allows you to have multiple plugins, each with different migrations directories, using the same knex instance.  So, a single knex instance can't necessarily capture all that information.

Luckily you can pass a directory right to those two functions: `knex.migrate.latest({ directory })` and

[2018-06-05 13:24] ozum commented on #57
@devinivy
By the way, I assumed `server/manifest.js` configuration is used if module is used as server/app. If we use module as a hapi plugin it is not used. Am I correct?

[2018-06-05 13:26] devinivy commented on #57
Yeah, exactly :) The contents of lib/ should be able to travel to other app/servers without any issue.  We even have [an article](https://hapipal.com/best-practices/server-plugin-separation) about this idea of server/plugin separation.

[2018-06-05 13:42] ozum commented on #57
Thanks.

I also read about this in schwifty API. However, it is not so clear and does not sampled in articles of hapipal. Could you give a simple example how to setup this?

[2018-06-05 14:15] devinivy commented on #57
Both the root server (`server/`) and the application plugin (`lib/`) register schwifty.

The root server's schwifty configuration defines a knex instance for the root server.  That knex instance is inherited by your application plugin, simply because your plugin does not define its own knex instance (as explained in [these docs](https://github.com/hapipal/schwifty/blob/master/API.md#knex-instances

[2018-06-05 14:19] ozum commented on #57
A-ha. Thanks for clarification and your time.

[2018-06-05 14:19] #57 closed, assigned to nobody

[2018-06-05 14:57] devinivy commented on #57
You're welcome!  As always, feel free to suggest improvements to documentation 👍

[2018-06-14 03:02] dirtybirdnj commented on #52
I was going to make an issue for this, but decided to check and found that someone else ran into the same issues I had.

My goal was to checkout the repo and switch between the provided tags/branches to view the different features. I get a git error I don't expect at all... I just checked out a repo and haven't made any changes yet it's telling me I have untracked stuff I have to commit?

It's con

[2018-06-14 03:20] devinivy commented on #52
The `hpal new` command clones the boilerplate, writes the README and package.json with the project details you filled-out, and leaves you on master, but _without any commit history_.  When I designed that command I thought that the user should be in charge of making the first commit to their project with any additional changes they might want—add more info to the readme, add dependencies to packag

[2018-06-14 03:31] dirtybirdnj commented on #52
I think the default behavior is very helpful, just unexpected!

The larger issue (to be resolved via clearer docs, or modifying default behavior) with requiring commits is that is that it prevents the user from following along with the documentation as-is because you don't explicitly state those steps have to be taken. It's my first day with this project, but I would definitely +1 your suggestion

[2018-06-14 03:51] devinivy commented on #52
This is all useful feedback—thanks 👍

If you're still having trouble with that git business, here's how hpal approaches it,
[code]

[2018-06-14 16:47] dirtybirdnj commented on #52
@devinivy thank you for that super helpful git snippet! This did exactly what I was looking for.

The only thing I'd like to add (since we are ON github) is that anybody  following these steps:

[code]

will have to go into the repo settings and change the default branch to `master`, otherwise after following the above steps and refreshing the github page for your repo, you'll still see the `pal`

[2018-06-24 17:00] dirtybirdnj commented on #52
@devinivy I figured out what my problem was... I was just having trouble wrapping my brain around the cherry pick process / tag workflow. Once I figured that out I was able to cherry pick the features I want and diff/merge them into my personal branch it all clicked.

Rather than fill up the comment section here... I wrote an article about it please LMK what you think!

https://medium.com/@dirtybi

[2018-09-06 18:51] devinivy commented on #49
Closed by #58 #59 #60 #61

[2018-09-06 18:51] #49 closed, assigned to nobody

[2018-09-06 21:31] devinivy commented on #53
Resolved in fancy-templated-site and templated-site v2.1.0.

[2018-09-06 21:31] #53 closed, assigned to devinivy

[2018-09-06 21:31] devinivy commented on #48
Resolved in fancy-templated-site and templated-site v2.1.0.

[2018-09-06 21:32] #48 closed, assigned to devinivy

[2018-09-21 01:45] renjurajt opened #63 "What is the use of .hc file in lib/"

[2018-09-21 01:57] devinivy commented on #63
This file has two purposes,

1. It can export amendments for [haute-couture](https://github.com/hapipal/haute-couture), pal's file-based hapi plugin composer.  This can be used to change the meaning of certain directories, skip over directories, and add meaning for new directories.
2. It marks where a haute-couture plugin exists so that the [hpal CLI](https://github.com/hapipal/hpal) knows where t

[2018-09-21 14:08] renjurajt commented on #63
Thanks @devinivy , can you please give some examples for your 1st point.

[2018-09-21 14:14] devinivy commented on #63
Sure!  I think the best examples that are out there are currently in the test suite.

Here's a project folder with an `.hc.js` file: https://github.com/hapipal/haute-couture/tree/master/test/closet/hc-file

Here's a test that uses that project folder: https://github.com/hapipal/haute-couture/blob/master/test/index.js#L689-L704

Here's documentation of the amendments you see in `.hc.js`: https://gi

[2018-09-21 14:21] devinivy opened #64 "Add knex peer dependency to Objection flavor"
Per @zemccartney in #62

[2018-09-22 04:15] renjurajt commented on #63
Thanks Again 👍

[2018-09-22 04:15] #63 closed, assigned to nobody

[2018-10-06 13:05] renjurajt opened #66 "Calling Plugin Route Handler from App Handler"
<pre>
<b>service-x</b>/
├── lib/
│   ├── routes
│	├── get-student.js
│   	├── new-student.js
│
├── server/

<b>service-y</b>/
├── lib/
├── server/

<b>service-z</b>/
├── lib/
├── server/

<b>gateway-service</b>/
├── lib/
│   ├── routes
│		├── gw-get-student.js
│		├── gw-new-student.js
│   ├── plugins
│		├── <b>service-x.js</b>
│		├── <b>service-y.js</b>
│		├── <b>service-z.js</b>
├── server/
</pre

[2018-10-06 14:24] devinivy commented on #66
I don't know your exact needs, but this seems like a fine design to me!  I think it's great that you're utilizing hapi plugins to have a flexible deployment, monolithic today and possibly micro-services in the future.

I'm interested to hear more about why you're trying to call one route handler from another, which is something I usually avoid.  Route handlers are often coded with some assumptions

[2018-10-07 06:00] renjurajt commented on #66
Thanks @devinivy. Let me try the option 1. Like you said it's better to avoid calling handler ..since it's designed for a specific purpose..

[2018-10-07 06:00] #66 closed, assigned to nobody

[2018-10-11 21:16] devinivy commented on #52
Resolved in #65

[2018-10-11 21:16] #52 closed, assigned to nobody

[2018-10-15 20:05] devinivy commented on #64
Resolved in https://github.com/hapipal/boilerplate/commit/2fee3736943056b7499f719bddffa47450885158 / [`objection-v2.2.1`](https://github.com/hapipal/boilerplate/releases/tag/objection-v2.2.1)

[2018-10-15 20:05] #64 closed, assigned to nobody

[2018-12-04 01:26] devinivy opened #68 "Safer, cleaner server defaults"
Running on a host of `0.0.0.0` is not a safe default because it could inadvertently expose the app over the network.  It's also not suggested to run nodejs without a reverse proxy or similar in front of it.  Second, our `debug` defaults are redundant (`implementation` and `internal` tags both always come with an `error` tag) and introduce the `NODE_ENV` value `'development'` which is not necessary

[2018-12-04 01:30] #68 closed, assigned to devinivy

[2018-12-15 17:40] devinivy commented on #50
This was resolved with https://github.com/glennjones/hapi-swagger/pull/537.

[2018-12-15 17:40] #50 closed, assigned to devinivy

[2018-12-15 17:40] #51 closed, assigned to nobody

[2018-12-15 18:18] Nargonath commented on #51
Yeah sorry I forgot about this issue. In fact we are considering migrating to Objection so we can use hpal 😃

[2018-12-16 17:32] devinivy commented on #51
Hey, no problem!  While I think that is great news for you and your team, I also hope like you don't feel like you have to use Objection in order to take advantage of all the other tools and patterns that are a part of hapi pal.  Here's an example in the haute-couture docs that shows how to use another ORM (in this case, Mongoose) with haute-couture and the hpal CLI: https://github.com/hapipal/hau

[2018-12-16 17:37] Nargonath commented on #51
Yeah you are right, we don't feel like we have to. We are always happy to try something new as well so we can better assess what we like best and why. Thanks for the resource.

[2018-12-17 17:00] vvarune opened #69 "How to use mongodb with hapipal structure"
I want to use mongodb with hapipal,Can you please advice is there any plugin available for mongodb like knex.

[2018-12-17 21:32] devinivy commented on #69
There isn't an "official" plugin for using mongo, but hapi pal also shouldn't get in your way if you choose to use some other hapi plugin that provides the functionality.

We do have an example of a simple setup using Mongoose ORM which allows you to place your mongo models in `lib/models/` and use `hpal make models ModelName` to scaffold a new model.  You can find that here: https://github.com/ha

[2018-12-18 10:11] vvarune commented on #69
Thank you for your suggestion. Looks like suitable for my requirement. I'm facing challenges in registering this plugin in `server/manifest.js`.

[2018-12-18 13:09] devinivy commented on #69
Which plugin are you having trouble registering?  If you're talking about haute-couture, that isn't a plugin at all.  In this boilerplate you will find that `lib/index.js` uses haute-couture in order to turn your project's files under `lib/` into a hapi plugin.

[2018-12-19 11:27] vvarune commented on #69
`lib/models/index.js`

`lib/.hc.js`

`server/manifest.js`

But I'm getting the following error,

[code]

It seems that connection is not establishing.

[2018-12-19 14:23] devinivy commented on #69
I think it's a simple error with some of your code,
[code]

[2018-12-19 15:45] vvarune commented on #69
No.. Still the same error.

[2018-12-19 15:52] devinivy commented on #69
Sorry, I don't think I'm in a good position to help you debug the rest of your issue without quite a bit more information.  I tried the example in the haute-couture docs and it works alright for me.  I suggest following the stack traces and doing some standard debugging to figure out where things are going awry.

[2018-12-19 15:52] #69 closed, assigned to nobody

[2019-01-21 00:07] devinivy opened #70 "Support hapi v18"

[2019-01-21 00:09] #70 closed, assigned to devinivy

[2019-04-23 04:14] devinivy opened #71 "Update dependencies with new @hapi scope"
Modules in the hapijs org now are published under the @hapi/x scope.  References to these dependencies need to be updated.  This would also be a good time to ensure deps are up to date.  I believe the only one needing updating will be joi.  Also need to sweep flavors.

[2019-05-01 21:23] codingfiddler commented on #71
This would be fantastic, I just spun up my first project with hapi-pal and was a bit worried by the wall of warnings that npm threw about moved dependencies.

[2019-05-04 16:34] #71 closed, assigned to nobody

[2019-05-04 16:54] devinivy commented on #71
Flavors could use a quick sweep, but general installations should be all set!

[2019-05-06 12:59] codingfiddler commented on #71
Awesome, thanks so much!

[2019-09-19 07:51] Nargonath opened #79 "Update deployment flavor"
I just boostrapped a project using the CLI and used the `deployment` flavor. I noticed the flavor is not using the `@hapi` scoped package. I'd be happy to update it but I wondered what is the preferred workflow for it. I noticed there is a `flavor-deployment` branch and also the tag we cherry-pick. My guess is that you make the change on the branch, commit and after that you update the `deployment

[2019-09-21 04:24] devinivy commented on #79
Thanks!  Just wanted to let you know I see this and it's on my todo list for this upcoming week, alongside closing out #78 (cc @timcosta).

[2019-09-23 08:01] Nargonath commented on #79
Alright, I'd be happy to make the PR but is the process I mentioned the way to go?

[2019-09-23 13:17] devinivy commented on #79
Yeah, exactly.  We keep everything up to date on the flavor branch, then when it's time to "publish" we merge the `pal` branch into it, squash the diff between the flavor branch and the `pal` branch into a single commit, then tag it for cherry-picking.  It's somewhat documented here https://gist.github.com/devinivy/d0d403c85ba8e2b1eb59f01a6b497a24

I don't think there's any need for a PR at the mo

[2019-09-23 13:34] Nargonath commented on #79
Thanks for the workflow explanation.

Yeah indeed you are right. I only checked the tag but not the branch, my bad.

[2019-10-07 04:25] devinivy commented on #79
This should be fixed in v2.3.1 of the flavor 👍

[2019-10-07 04:25] #79 closed, assigned to devinivy

[2019-12-04 14:19] devinivy opened #80 "Update objection flavor to schwifty v5"
Additionally utilize [`Schwifty.migrationsStubPath`](https://github.com/hapipal/schwifty/blob/master/API.md#schwiftymigrationsstubpath) in the knex config.  If you're interested in working on this, branch and make a PR to [`flavor-objection`](https://github.com/hapipal/boilerplate/tree/flavor-objection).

[2020-01-15 04:58] devinivy opened #81 "Support hapi v19"

[2020-01-15 05:02] #81 closed, assigned to nobody

[2020-01-31 08:08] arulprakash007 opened #82 "Having issue with mongoose"
Can anyone suggest the better approach to integrate mongoose with hapipal?

[2020-01-31 14:20] devinivy commented on #82
What have you attempted to do so far?  You should be able to utilize any strategy that others have used to integrate hapi and mongoose.  There is actually a mini tutorial about integrating mongoose with hapi pal in the haute-couture docs, which you may be interested to read: https://hapipal.com/docs/haute-couture#amendment-example

[2020-03-18 15:12] #80 closed, assigned to devinivy

[2020-03-18 15:12] devinivy commented on #80
https://github.com/hapipal/boilerplate/releases/tag/objection-v2.6.0

[2020-03-21 20:51] #82 closed, assigned to devinivy

[2020-04-15 18:54] devinivy opened #84 "Ensure class fields can be linted successfully"
Lab has made some changes to its linting strategy in order to support ecma syntax available in node v12, e.g. class fields, and we should make comparable fixes to the the default eslintrc used by the boilerplate.  Here is the relevant fix in lab https://github.com/hapijs/lab/commit/9d925d4b61597ff410ed91f9abe615389ef775a1#

[2020-04-24 17:25] dcominottim opened #85 "lib/index.js makes wrong use of HauteCuture.using() by default and hence 'npm start|test' don't work"
The line

`await HauteCouture.using()(server, options);`

results in

`Error: "schwifty" is not a method on the passed server.`

when trying to `npm start` or `npm test`.

The fix is to replace that call with

`await HauteCouture.using();`

as per hapipal-realworld-example-app.

[2020-04-24 17:35] dcominottim opened #86 "The concepts of 'view-model', 'controller', and 'adapter/mapper' are missing from the boilerplate/hpal/ hapipal-realworld-example-app"
Not sure if this subproject is the best place for this (maybe it'd be `hpal`; please let me know), but right now, the aforementioned concepts are missing and that represents a big problem from the separation of concerns PoV.

Right now, what's the best way to create a `view-model` (say, a REST resource/DTO that is different from the Schwifty `model` and has different Joi validations, etc.?
What ab

[2020-04-26 02:02] devinivy commented on #85
Hey there.  I don't think this is an issue, and you may have some misuse of haute-couture in your project if you've made this change.

In the realworld app [here](https://github.com/devinivy/hapipal-realworld-example-app/blob/727c797a5946f24f69edbfce789a32289f382d54/lib/index.js#L6-L9) it reads:
[code]

Whereas in the boilerplate [here](https://github.com/devinivy/hapipal-realworld-example-app/blo

[2020-04-26 02:02] #85 closed, assigned to devinivy

[2020-04-26 04:32] devinivy commented on #86
I appreciate and agree with a lot of what you're saying here.  I believe that it's really important to be able to decouple an application's model from its interface, and that is where these ideas of the view-model and adapters/mappers come into play.

I think the idea of the controller is covered by hapi's own route handlers.  Lots of context about these handlers/controllers is provided by a route

[2020-04-26 17:42] dcominottim commented on #85
Thanks for the answer!

I'll check the registration part, but since I used `hpal ` to create everything (not only the project, but also the models) I believe there's still room for substantial improvements to it. It seems fair to ask,

 Models are a pretty core concept to hapipal the way it is today -- it's even one of the flashlights of the website's main page.

After your explanation, I think th

[2020-04-26 18:49] devinivy commented on #85
Noted!  Thank you for the honest feedback.  Perhaps `hpal new` could offer to the user to install a flavor for them, and help educate the user a bit.

One reason that the experience isn't very integrated is that all the hapi pal modules are decoupled and optional.  The behavior of `hpal make` is even customizable based on the user's `.hc.js` file (the plugin's haute-couture "manifest").  For examp

[2020-04-26 19:42] devinivy commented on #84
Resolved by #87

[2020-04-26 19:42] #84 closed, assigned to zemccartney

[2020-06-09 05:45] littlegraycells opened #88 "Add sub-documents from another file (mongoose)"
I have 2 mongo models defined in 2 different files (generated using `hpal make model` like so

models/parent.js
[code]

models/child.js
[code]

What I'm trying to do is define `child` as a sub-document array on `parent` but it throws an error
[code]

Pretty sure something needs to be different in the `require` statement but not quite sure what it is.

[2020-06-09 06:42] littlegraycells opened #89 "Joi validation with mongoose models"
I've set up a project using the [docs](https://github.com/hapipal/haute-couture/blob/master/API.md#amendment-example) guide and I have a route set up like so

[code]

However this throws an error

This makes sense because unlike the Schwifty models, the mongoose models don't have Joi validation integrated. Can the documentation be updated to show how this can be done with mongoose models?

[2020-06-09 07:43] #89 closed, assigned to nobody

[2020-06-09 07:55] #88 closed, assigned to nobody

[2020-06-10 02:41] littlegraycells opened #90 "How do you add a flavor after the fact?"
After creating a project with `hpal new`, how can I bring in a flavor, for example `docker` or `swagger`?

[2020-06-10 04:03] devinivy commented on #90
Flavors are always applied using `git cherry-pick` after your project is initialized.  For example, try running `git cherry-pick swagger` in order to bring in the swagger flavor.  If that unexpectedly isn't working for you, please provide the full error that you're receiving and we'll see if we can help.

[2020-06-30 05:09] #86 closed, assigned to devinivy

[2020-06-30 05:09] #90 closed, assigned to devinivy

[2020-07-19 15:57] sholladay opened #91 "Consider using a better env file library"
The boilerplate currently uses the `dotenv` package, which is less than ideal because it's easy to make mistakes with it and accidentally commit secrets to the git repository, among other issues.

It would be great if the boilerplate could use a safer library, such as [envy](https://github.com/sholladay/envy) or [dotenv-safe](https://github.com/rolodato/dotenv-safe), which provide various levels o

[2020-07-21 01:52] devinivy commented on #91
I am actually a fan of envy.  If we did decide to go that direction, could we contribute to update envy's tests for some recent versions of node?  (I realize even dotenv's test suite is a little bit behind too!)  What do others think?

Here are some additional thoughts:
 - I don't see how it is easier to commit secrets with our setup versus envy's or dotenv-safe's.  We identically gitignore `serve

[2020-07-21 07:02] sholladay commented on #91
I created `envy` after a relatively junior developer at my company accidentally committed sensitive secrets, including database credentials, and pushed them to the git repo, where they were subsequently seen by people who shouldn't have had access to them. I then spent all day rolling passwords and API keys, combing through logs to check for misuse, and educating people on what happened, etc. It w

[2020-07-21 13:35] YoannMa commented on #91
I think it's overall a good idea, having a "safer" default is always good (plus it follows the hapi "way")

My only struggle when using `envy` is the behavior :

Because I mostly want to use `.env.exemple` as the exemple with default non-production values, that way you can quickly get the project working with a single `cp .env.exemple .env`. But I agree with why `envy` does not allow that behavior

[2020-07-21 19:14] sholladay commented on #91
My suggested workaround is to either:
 - Put the default values in your JavaScript, e.g. using a `joi` schema to provide the defaults. Hopefully you're validating the config, anyway. This is how I do it, personally.
 - Put the default values as commented out lines in the `.env.example` file. When your team copies it, they have to explicitly uncomment the lines to use them.

These solutions aren't

[2020-07-21 19:17] YoannMa commented on #91
That's mostly what I do indeed, using `confidence` (this project use it as well now that I looked at it) for default values.

[2020-08-01 13:34] erin-doyle opened #92 "Docker flavor nodemon args"
In the `docker-compose.yml` file of the Docker flavor it lists the command for running nodemon as the following:
[code]

This fails with:
`[nodemon] clean exit - waiting for changes before restart`

The nodemon docs state not to use glob formatting: https://github.com/remy/nodemon#monitoring-multiple-directories.

If I change to command to instead be:

[code]

it starts up successfully.

[2020-08-01 15:46] devinivy commented on #92
Interesting, I haven't seen this issue happen before.  I would love to be able to reproduce this and understand what is going on— I just tried without any luck.  (Are you on a windows machine, by chance?)  Either way, I think your solution looks good and we would certainly take a PR 👍 Thanks for the close reading of those docs.  For anyone interested, just point the PR at this branch https://githu

[2020-08-03 14:30] erin-doyle commented on #92
No I'm using a mac running Catalina 10.15.5 with:
Docker Desktop v2.3.0.4
nodemon 2.0.4
node v14.3.0 (on my machine)

though the node version in the container is 12.18.3 and alpine 3.11

Not sure if any of that helps.  But anyway, I can submit a PR for it.

[2020-08-03 15:00] devinivy commented on #92
Cool, thanks for the info.  That would be excellent 👍

[2020-08-05 00:56] devinivy commented on #92
Resolved by #93.  Thanks @erin-doyle!  Publishing the flavor update now.

[2020-08-05 00:56] #92 closed, assigned to erin-doyle

[2020-08-20 03:41] devinivy commented on #91
@sholladay I am playing with envy in a baseline pal boilerplate, and am running into an issue I can't resolve myself: the boilerplate only has one env variable (`PORT`) which also happens to be optional.  I am happy to mark it as optional by commenting it out and applying the default with joi, but envy doesn't allow an empty example file.  I am sort of at an impasse right now, as I don't want user

[2020-08-20 16:41] sholladay commented on #91
At the time I was thinking that an empty example file would likely be a mistake. But your use case seems valid. Let's remove that assertion. PR welcome.

I'm happy to help work on this if you run into any issues, but I'm currently in the process of selling my house so fairly busy for a few weeks.

[2020-08-30 15:08] devinivy opened #94 "Support hapi v20"

[2020-08-30 15:09] devinivy commented on #94
Resolved in https://github.com/hapipal/boilerplate/commit/6228f223fd15d097be41cdddc503a6dded53abd6 and released as 2.5.0 and 2.5.1.  The flavors are also updated and published.

[2020-08-30 15:09] #94 closed, assigned to nobody

[2020-08-30 15:47] devinivy opened #95 "Retire "Custom Swagger" and "(Non-fancy) Templated Site" flavors"
I intend to retire two of the flavors: [Custom Swagger](https://github.com/hapipal/boilerplate#custom-swagger) and [Template Site](https://github.com/hapipal/boilerplate#templated-site).  Note that these both have alternate, similar flavors which will not be retired: [Swagger](https://github.com/hapipal/boilerplate#swagger) and [Fancy Templated Site](https://github.com/hapipal/boilerplate#fancy-te

[2020-10-04 22:53] diegofhe opened #97 "First npm i with deprecated warnings"
System:
   node version: v14.12.0

After runing npx hpal new [projectName]

cd into the project and run npm i

npm WARN deprecated @hapi/hoek@6.2.4: This version has been deprecated in accordance with the hapi support policy (hapi.im/support). Please upgrade to the latest version to get the best features, bug fixes, and security patches. If you are unable to upgrade at this time, paid support is a

[2020-10-04 23:41] devinivy commented on #97
Can you share the contents of your package.json, and when you ran `npx hpal new my-project`?  When I run this today I get this output, which is much less scary:
[code]

[2020-10-05 01:47] diegofhe commented on #97
Yes

Here is my package.json

[code]

and a small video of the issue

https://www.loom.com/share/985f433c02c646049cefa1cf3101abbb

[2020-10-05 03:11] devinivy commented on #97
Thanks for all the info and the video, it made it much simpler to debug.  I do see that I have also installed most of the deprecated packages that npm listed to you.  However, I don't get those installation warnings.  My guess is that we are running different versions of npm or have different npm settings.  Perhaps the difference in behavior has something to do with the deprecated versions being e

[2020-10-05 03:25] devinivy commented on #97
Update!  I was able to reproduce using `npm install --no-cache`.  These versions must have relatively new deprecation notices.  This will be resolved once the pal ecosystem is updated to no longer support old versions of node (as mentioned above), which is in progress.  I don't think there's a lot we can do in the interim.  The noise on initial install is a bit annoying, but in practice these modu

[2020-10-05 03:25] #97 closed, assigned to nobody

[2021-03-27 18:48] devinivy commented on #91
Just an update here for those interested: I am favoring an eventual move to envy, but there are some loose ends regarding Windows support that are still in progress, and I don't expect it to land for the upcoming version of the boilerplate.  Before moving to envy I would also like to alter how environment variables are handled in confidence, and that work is also in progress but not finalized.  He

[2021-04-12 03:16] #95 closed, assigned to nobody

[2021-05-16 21:34] Ba7er commented on #69
@vvarune , maybe you can try this in `.hc.js`
`module.exports = {
    recursive: true,
    add: [{
        place: 'models',
        list: true,
        signature: ['name', 'schema'],
        method: (server, options, name, schema) => {
            const { connection } = server.app;
            server.app.models = server.app.models || {};
            server.app.models[name] = connection.model(name,

[2022-08-18 07:00] nikhiljohn10 opened #99 "Three high severity vulnerabilities found in npm dependencies"
When I did `npm install`, it mentioned about 3 high severity vulnerabilities. Is this already noticed and getting fixed?

[code]

[2022-08-18 12:08] Nargonath commented on #99
Thank you for the report. Not sure if it was flag or not already by someone else. This is likely low severity because IIRC `marked` is only used for dev CLI commands that help you search through hapi's documentation through your terminal. It shouldn't impact any of the production code because it's not run during that time.

[2022-08-23 18:19] #99 closed, assigned to nobody

[2022-08-24 19:41] devinivy commented on #99
Fair question!  If anyone wants to perform the marked upgrade, we'd definitely take a PR on hpal 👍 https://github.com/hapipal/hpal